@model List<AuctionItem>;

<style>
    /*.odd {
        background-color: #f9f9f9;
    }*/

    .marranTable {
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 80%;
    }
</style>


<section>
    <div class="container" style="padding-top:80px">
        <h2 class="text-center text-uppercase  text-dark">Auction list:</h2>
        <hr class="star-dark mb-5">

        <div class="row marranTable">

            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titel</th>
                        <th>Description</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Estimate</th>
                        <th>CreatedBy</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Titel</td>
                            <td>@item.Description</td>
                            <td>@item.StartDate.ToShortDateString()</td>
                            <td>@item.EndDate.ToShortDateString()</td>
                            <td>@item.Estimate SEK</td>
                            <td>@item.CreatedBy</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Titel</th>
                        <th>Beskrivning</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Estimate</th>
                        <th>CreatedBy</th>
                    </tr>
                </tfoot>
            </table>

            @using (Html.BeginForm("CreateAuction", "Home", method: FormMethod.Post, htmlAttributes: new { @style = "display: inline-block;" }))
            {
            }
            @*<input type="hidden" name="newAuction" id="newAuction" value="" />*@
            @*<input type="submit" value="Details" />*@
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">hellotest</a>
            <button type="submit" class="btn btn-primary" value="New Auction" id="newAuction" data-toggle="modal" data-target="#exampleModal">Create Auction</button>
            @using (Html.BeginForm("Edit", "Home", method: FormMethod.Post, htmlAttributes: new { @style = "display: inline-block;" }))
            {
                <input type="hidden" name="editAuction" id="editAuction" value="" />
                <input type="submit" value="Edit" class="btn btn-primary" />
            }
            @using (Html.BeginForm("Delete", "Admin", method: FormMethod.Post, htmlAttributes: new { @style = "display: inline;" }))
            {
                <input type="hidden" name="deleteAuction" id="deleteAuction" value="" />
                <input type="submit" value="Delete" class="btn btn-danger float-right" />
            }
        </div>
        <hr class="star-dark mb-5">
    </div>
</section>

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
    <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
            <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-secondary text-uppercase mb-0">Project Name</h2>
                    <hr class="star-dark mb-5">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                    <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                        <i class="fa fa-close"></i>
                        Close Project
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var table = $('#example').DataTable();

            $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                    $('#newAuction').val($(this).closest('tr').children('td:first').text());
                    $('#deleteAuction').val($(this).closest('tr').children('td:first').text());

                }
            });

            $('#newAuction').click(function () {
                $('#exampleModal').modal('toggle');
            });
            //$('#deleteAuction').click(function () {
            //    //alert($('.selected').parent().siblings(":first").text());
            //    var value = $('.selected').closest('tr').children('td:first').text();
            //    alert(value);
            //});
        });
    </script>

}
